@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&family=Space+Grotesk:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "DM Sans", sans-serif;
}
.image_hero {
  animation: rotate 1s infinite alternate-reverse ease;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #1d2021;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

ul li a {
  position: relative;
}

ul li:not(:last-child) a:hover {
  color: white;
}

ul li a::before {
  content: "";
  background-color: white;
  height: 2px;
  width: calc(100% * 0);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s all ease;
}

ul li:not(:last-child) a:hover::before {
  width: 100%;
}

.line {
  background-color: white;
  width: 44px;
  height: 4px;
  border-radius: 50px;
}
